.formm{

    box-sizing: border-box;
    border:2px solid rgb(105, 105, 3);
    padding-right: 50px;
    justify-content: center;
    display: flex;
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;



}

td input{
    width:200%;
    height: 25px;

}

td{
    font-size:larger;
    text-align: left;
    
}
table{
    border-spacing: 20px;
    margin-right: 50px;
}
.button{
    margin-bottom: 20px;
    margin-top: 40px;
    padding:3px;
    width: 30%;
    font-size: medium;
}