/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-size: cover;
  background-position: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}
.container h1{
  font-size: 40px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  margin-right: 10px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 210px 0;
  background-color: #f1f1f1;
  background-image: url('image/jobhome.jpeg');
  color: black;
}
.heder{
  text-align: center;
  background-color: #f1f1f1;
  color: black;

}
.heder h2 {
  font-size: 50px;
  margin-bottom: 20px;
}

.heder p {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
}



.job-item {
  margin-bottom: 20px;
  padding: 20px;
  background-color: #f1f1f1;
  font-size: 20px;
}

.job-item h3 {
  margin-bottom: 10px;
  font-size: 25px;
}

/* ----menu bar---------*/


ul {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

li {

  display: inline-block;
}

li a {

  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #04AA6D;
}

.active {
  background-color: #04AA6D;
}

/* ---- bottom bar --- */


.footer {
  
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background-color: rgba(242, 242, 242, 0.5);
  text-align: right;
  
  
}

.footer a {
  
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  display: inline-block;

}

.footer a:hover {
  border-bottom: 3px solid red;
}

.footer a.active {
  border-bottom: 3px solid red;
}
/*------dropdown button----------*/

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.ul.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}